# Dependency directories
node_modules/

# Build outputs
/dist/
/out-tsc/
/tmp/

# IDE and Editor files
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Angular/NPM specific
package-lock.json
.angular/

# Other
coverage/

**/*.spec.ts