@use 'breakpoints' as *;

.quiz-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 16px;

  &__branding {
    margin: 15px;
    &--title {
      font-size: 24px;
      font-weight: 400;
    }
    &--subtitle {
      margin-top: 15px;
      font-size: 14px;
      font-weight: 300;
    }
  }

  &__timer {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 25px;
    border-radius: 12px;
    font-weight: 400;
    white-space: nowrap;
  }
}

@media (max-width: $breakpoint-sm) {
  .quiz-header__branding--subtitle {
    display: none;
  }
}
