<header class="quiz-header">
  <div class="quiz-header__branding">
    <div class="quiz-header__branding--title title-style">Angular Quiz Assessment</div>
    <div class="quiz-header__branding--subtitle text-style">
      .Learn .Revise .Prepare For Interviews
    </div>
  </div>
  @if (quiz.isSubmitted()) {
    <div class="quiz-header__results">
      <div class="quiz-header__results--score">Score: {{ quiz.score() }}%</div>
      <button class="quiz-header__results--restartBtn" (click)="restartQuiz()">Restart Quiz</button>
    </div>
  }
  <div class="quiz-header__timer title-style">
    <mat-icon>schedule</mat-icon>
    <span
      [class.warning]="quiz.warningTime()"
      [class.danger]="quiz.dangerTime()"
      [class.timeStop]="!quiz.isTimerRunning()"
    >
      {{ formattedTime() }}</span
    >
  </div>
</header>
