<section class="landing-header">
  <div class="landing-header__content">
    <div class="landing-header__content--icon">
      <mat-icon fontIcon="school"></mat-icon>
    </div>

    <h1>Angular Quiz Master</h1>

    <p class="landing-header__content--subtitle">
      Test your Angular knowledge with our comprehensive quiz platform. Select topics that interest
      you and challenge yourself!
    </p>

    <div class="landing-header__content--features">
      <div class="feature">
        <mat-icon>schedule</mat-icon>
        <span class="landing-header__content--features--text">30 Minutes</span>
      </div>

      <div class="feature">
        <mat-icon>category</mat-icon>
        <span class="landing-header__content--features--text">Multiple Topics</span>
      </div>

      <div class="feature">
        <mat-icon>bolt</mat-icon>
        <span class="landing-header__content--features--text">Instant Results</span>
      </div>
    </div>
  </div>
</section>
