/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.title-style {
  font-size: 24px !important;
  font-weight: 900;
  color: wheat;
}

.small-title-style {
  font-size: 18px !important;
  font-weight: 400;
  color: wheat;
}

.app-background-style {
  background: linear-gradient(135deg, #474141, #000000);
}

.text-style {
  color: white !important;
  font-size: 16px !important;
}

// Progress bar custom styles
.mdc-linear-progress__bar-inner {
  border-color: #eac279 !important;
}
