<section class="quiz-page">
  <header class="quiz-page__header app-background-style">
    <app-quiz-header></app-quiz-header>
    <app-progress-bar [answered]="5" [total]="50"></app-progress-bar>
  </header>

  <main class="quiz-page__layout app-background-style">
    <aside class="quiz-page__sidebar">sidebar Placeholder</aside>

    <section class="quiz-page__questions">Questions placeholder</section>

    <section class="quiz-page__options">Options Placeholder</section>
  </main>

  <footer class="quiz-page__footer app-background-style">Footer Placeholder</footer>
</section>
